<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
  <meta charset="UTF-8">
  <title>My Profile</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<header>
  <h1>Hello, <span th:remove="tag" th:text="${user.lastName +' '+ user.firstName}"></span></h1>
</header>
<nav id="nav-3">
  <a class="link-3" id="active" href="/profile">Profile</a>
  <a class="link-3" th:href="@{/recipes}">Recipes</a>
  <a class="link-3" th:href="@{/mealList}">Plan Meal</a>
  <a class="link-3" th:href="@{/logout}">Log out</a>
</nav>
<body>
<div class="container text-center" id="container-box">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a class="fav-btn" th:href="@{/myŚhoppingList}">View Shopping List</a>
      </div>
      <div class="col-sm">
        <a class="fav-btn" th:href="@{/myRecipe}">View My Recipe</a>
      </div>
      <div class="col-sm">
        <a class="fav-btn" href="/myFavoriteRecipe">View My Favorite Recipes</a>
      </div>
      <div class="col-sm">
        <a class="fav-btn"  th:href="@{/mealList}">View My Event Plans</a>
      </div>
    </div>
  </div>
  <h1>My Shopping List</h1>
  <table class="table table-hover">
    <thead class="table-info">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="shoppingList: ${shoppingLists}">
      <td th:text="${shoppingList.ingredients.name}"></td>
      <td th:text="${shoppingList.ingredients.amount}"></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
