<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignment 01</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container text-center" id="container-box">
    <div>
        <h1>Welcome to Assignment 01</h1>
    </div>
    <div>
        <h3><a th:href="@{/register}">Register</a></h3>
        <h3><a th:href="@{login}">Login</a></h3>
    </div>
</div>
</body>
</html>